asgiref==3.2.10
backcall==0.2.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
decorator==4.4.2
Django==3.1.2
django-admin-interface==0.14.1
django-colorfield==0.3.2
django-contrib-postgres==0.0.1
django-cors-headers==3.5.0
django-flat-responsive==2.0
django-flat-theme==1.1.4
django-phonenumber-field==5.0.0
django-phonenumbers==1.0.1
djangorestframework==3.12.1
djangorestframework-simplejwt==4.4.0
filetype==1.0.7
future==0.18.2
geocoder==1.38.1
idna==2.10
ipdb==0.13.4
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.17.2
numpy==1.19.4
pandas==1.1.5
parso==0.7.1
pexpect==4.8.0
phonenumbers==8.12.15
pickleshare==0.7.5
Pillow==8.0.1
prompt-toolkit==3.0.7
psycopg2==2.8.6
ptyprocess==0.6.0
Pygments==2.7.1
PyJWT==1.7.1
python-dateutil==2.8.1
python-dotenv==0.14.0
python-engineio==3.13.2
python-socketio==4.6.0
pytz==2020.1
ratelim==0.1.6
razorpay==1.2.0
requests==2.25.1
six==1.15.0
sqlparse==0.3.1
traitlets==4.3.3
urllib3==1.26.2
wcwidth==0.2.5
xlrd==2.0.1
